.emergence-cms-editor {
    border: 1px solid #ccc;
    -webkit-font-smoothing: antialiased;    

    > .x-panel-header {
        background-color: #ccc;
    }

    input, textarea {
        @include box-shadow(none);
    }
    
    .field-title .x-form-text{
        font-size: 2em;
        line-height: inherit;
    }
    
    .save-btn {
        background-color: white;
        
        .x-btn-glyph {
            color: #9c9;
            vertical-align: -3px;
        }
        
        &:hover,
        &:focus {
            background-color: #efe;
        }
        
        &:active {
            background-color: #ddd;
        }
    }
    
    .x-dashboard-column {
        padding: 7px 7px 0;
    }

    .x-resizable-handle-south {
        height: 7px;
    }

    .x-btn-group {
        border-radius: 0;
    }

    .x-btn-group-header-default-framed {
        background-color: #ccc;
        border-radius: 0;
        padding: 7px;
    }
}

.emergence-cms-composer {
    // &:first-child { margin-top: 7px; }
}

.markdown-composer,
.embed-composer,
.html-composer {
    .x-form-trigger-wrap-default {
        border: none;
    }
}

.embed-composer {
    .x-form-textarea {
        font-family: monospace;
    }
}

.x-form-item-body-default {
    min-height: 0;
}